.margin-0{
  margin: 0px !important;
}

.margin-1{
  margin: 1px !important;
}

.margin-2{
  margin: 2px !important;
}

.margin-3{
  margin: 3px !important;
}

.margin-4{
  margin: 4px !important;
}

.margin-4{
  margin: 4px !important;
}

.margin-5{
  margin: 5px !important;
}

.margin-20{
  margin: 20px !important;
}

.margin-left-right-20 {
  margin: 0px 20px !important;
}

.margin-left-right-30 {
  margin: 0px 30px !important;
}

.margin-bottom-30{
  margin-bottom: 30px !important;
}

.margin-bottom-40{
  margin-bottom: 40px !important;
}

.margin-top-bottom-40{
  margin: 40px 0px !important;
}



