@import "../variables.scss";
.home {

}

.MuiTableCell-root{
  text-align:center !important;
}

.no_data{
  width: 100%;
  h3{
    font-size: calc(  25px + ( #{$font-size}  ) );
    margin-bottom: 30px;
  }
  h4{
    font-size: calc(  16px + ( #{$font-size}  ) );
    margin-bottom: 30px;
  }
  button{
    margin: 0px 10px;
  }
}

.gantt{
  padding: 15px;
  height: 500px;
  margin-bottom: 50px;
}

.date-select{
  padding: 0px 5px !important;
  .MuiSelect-select{
    padding: 0px !important;
  }
  svg{
    display: contents !important;
  }
}

.add-word-order{
  textarea{
    text-align: center;
  }
}
